@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link href="@Url.Content("../css/home.css")" type="text/css" rel ="stylesheet" />
</head>
<body class="MainBody">
    <h1 class="display-4" id="headline">Welcome to CoffeeDay</h1>
   <div class="mainSection">
        <div class="leftSection">
            <h2>Buy Premium Coffee Beans Online</h2>
            <br />
            <h4>We bring you the finest coffee beans in India online with unique flavour notes for you to experience a great-tasting cup of coffee everyday. Whether you are looking for Indian or International origins, roasted coffee beans or ground coffee, we have a wide variety of options that you can choose from. We're your one-stop shop to source multiple-origin coffee beans online.</h4>
        </div>
        
        
        <div class="rightSection">
            <h2>Visit our Cafes</h2>
            <h4>
                PUT SOME LOVE IN YOUR DAY<br />
                Eat. Drink. Love.
            </h4>
            <h2>
                <a href="~/Reservation/Reservation" class="order-btn">Reserve Table</a>
            </h2>
        </div>
   </div>
</body>

