
@{
    ViewData["Title"] = "Menu";
}
<html>
<head>
        <link href="@Url.Content("../css/menu.css")" type="text/css" rel="stylesheet" >
</head>
<body>
    <div class="headline">
        <h1>Coffee Beans</h1>
    </div>

    <div class="coffeeBeans">
        <div class="leftDiv">
            <h3>
                Arabica Beans
            </h3>
            <div>
                <button>Buy Now</button>
            </div>
                <img src="~/Images/Arabica.jpg" width="290" height="240" alt="arabica beans" style="float: top">
        </div>
        <div class="rightDiv">
            <p>
     
            Over 60 percent of the world’s coffee is made out of Arabica beans.
            The beans are grown at high altitudes and receive the perfect amount
            of shade and rainfall for taste. Arabica trees are usually fairly 
            small – no more than six feet in height – and they are generally easy
            to take care of.

            Arabica beans are bright and slightly acidic, and they come in a number
            of varieties of both aroma and taste, such as Bourbon, Blue Mountain,
            Typica, and Caturra.
            Sample the coffee on your front palate where sweetness and salinity are
            found. Arabica bean coffee is always better tasting when you serve it hot
            or with a pour-over or drip coffee maker, mainly because the taste of the
            beans diminishes if you serve the coffee with creamer or when it’s cold.
            </p>
            </div>
    </div>
 
    <div class="coffeeBeans">
        <div class="leftDiv">
            <h3>
                    Bourbon beans
            </h3>
            <div>
                <button>Buy Now</button>
            </div>
                <img src="~/Images/bourbon.jpg" width="290" height="240" alt="bourbon beans" style="float: left">
            </div>
        <div class="rightDiv">
            <p class="mt-4 mb-5">

                    French monks developed the Bourbon varietal from Arabica beans in the 18th
                    century on the island of Bourbon (now La Réunion). The beans have a very fruity
                    flavor with a sweet caramel undertone. Popular in the Americas and throughout Africa,
                    Bourbon is the predecessor to many other types of coffee beans found on the market today.
            </p>
        </div>
    </div>
    <div class="coffeeBeans">
        <div class="leftDiv">
             <h3>
                 Catimor Beans
             </h3>
             <div>
                <button>Buy Now</button>
                </div>
                <img src="~/Images/catimor.jfif" width="290" height="240" alt="catimor" style="float: left">
        </div>
        <div class="rightDiv">
             <p class="mt-4 mb-5">

                 A hybrid cross between Timor and Caturra coffee beans, Catimor strains are mostly
                 found in El Salvador, Nicaragua, and India. The trees produce quickly and have high yields.
             </p>
        </div>
    </div>

    <div class="coffeeBeans">
        <div class="leftDiv">
            <h3>
                    Catuai Beans
            </h3>
            <div>
                <button>Buy Now</button>
            </div>

            <img src="~/Images/catuai.jfif" width="290" height="240" alt="catuai">
        </div>
        <div class="rightDiv">
            <p class="mt-4 mb-5">
                    Developed in the 1950s and ’60s in Brazil, the Catuai coffee bean has numerous variations
                    and features some of the better qualities of a good Brazilian coffee. The coffee is slightly
                    acidic and has undertones of sweetness to it.
            </p>
        </div>
    </div>
    <div class="coffeeBeans">
        <div class="leftDiv">
                <h3>
                    Caturra Beans
            </h3>
            <div>
                <button>Buy Now</button>
            </div>
                <img src="~/Images/caturra.jpg" width="290" height="240" alt="caturra beans">
        </div>
        <div class="rightDiv">
            <p class="mt-4 mb-5">
                    A close up photo of a Coffee tree and Coffee beans arabica type caturra yellow.
                    A mutant variety of the Bourbon coffee bean, the Caturra bean was developed in
                    Brazil in the 1930s, even though it did better later on once it was planted in
                    Colombia and Central America’s higher altitudes.

                    These beans produce coffee with a bright citrusy taste and a light body. It is
                    also a predecessor to many other varieties of coffee beans, including the Maracatu
                    and Catimor.
            </p>
        </div>
    </div>

    <div class="coffeeBeans">
         <div class="leftDiv">
             <h3>
                    Excelsa Beans
             </h3>
             <div>
                <button>Buy Now</button>
             </div>
             <img src="~/Images/excelsa.jfif" width="290" height="240" alt="excelsa beans">
            </div>
         <div class="rightDiv">
             <p class="mt-4 mb-5">
                    Grown mostly in Southeast Asia, the Excelsa coffee bean is completely different than
                    other types of beans, even though it has recently been classified as part of the Liberica
                    family. It has a nice almond shape and is often used in blends to bump up the taste.

                    Enjoying this type of coffee bean on the middle and back sections of the palate results
                    in the best flavor. Mainly considered a light-roast coffee, the bean has both a fruity
                    and tart taste.
             </p>
         </div>
    </div>
</body>
</html>